* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5em;
    font-family:'Sora', sans-serif;
}

:root {
    --hue: 0;
    --saturation: 90%;
    --foreground-color: hsl(var(--hue), var(--saturation), 40%);
    --background-color: hsl(var(--hue), var(--saturation), 85%);
    --hover-color: hsl(var(--hue), var(--saturation), 65%);
    --hovershadow-color: hsl(var(--hue), var(--saturation), 25%);
}

body {
    background-color: var(--background-color);
}

.logoPic {
    position: absolute;
    top: -200px;
    z-index: -1;
}

#logoText {
    position: absolute;
    top: 0px;
    margin: 50px;
    color: blueviolet;
    font-size: 80px;
    font-weight: bold;
}

/* #points{
    background: rgba(0, 0, 0, 0.0);
} */

#gameBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 200px;
    margin-bottom: 0px;
}

.score {
    display: flex;
    position: absolute;
    top: 100px;
    right: 200px;
    height: max-content;
    width: max-content;
    font-size: 50px;
}

#questionBox {
    display: none;
    background-color: var(--background-color);
    height: 100vh;
    width: 100%;
    position: relative;
}

#questionText {
    background-color: var(--background-color);
    color: white;
    display: flex;
    position: relative;
    font-size: 60px;
    font-style: bold;
    width: 80%;
    left: 10%;
    top: 40%;
    word-wrap: break-word;
    flex-direction: column;
    margin-bottom: 50px;
    -webkit-text-stroke: 2px black;
    justify-content: center;
    text-align: center;
}

#answerBox, #submitBtn {
    position: relative;
    left: 45%;
    top: 40%;
}

.cards {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: var(--foreground-color) 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 8px;
  height: 10vh;
  width: 300px;
  justify-content: center;
  text-align: center;
}

.cards:hover {
  background-color: var(--hover-color);
  box-shadow: var(--hovershadow-color) 0 -6px 8px inset;
  transform: scale(1.125);
}

.cards:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .cards {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}

#categoryTitel2, #categoryTitel1, #categoryTitel3, #categoryTitel4, #categoryTitel5 {
    pointer-events: none;
    font-size: 20px bold;
}
