* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5em;
    font-family:'Sora', sans-serif;
}

body {
    background-color: skyblue;
}

#logoText {
    position: absolute;
    top: 0px;
    margin: 50px;
    color: blueviolet;
    font-size: 80px;
    font-weight: bold;
}

.score {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 50px;
}

.points{
    background: rgba(0, 0, 0, 0.0)
}

.gameBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 200px;
    margin-bottom: 0px;
}

p { 
    height: 10vh;
    width: 10vw;
    margin: 20px;
    justify-content: center;
    background-color: green;
    text-align: center;
}

span {
    position: relative;
    top: 40%;
}

#questionBox {
    display: none;
    background-color: lightslategrey;
    height: 100vh;
    width: 100%;
    position: relative;
}

#questionText {
    display: flex;
    position: relative;
    font-size: 50px;
    width: 100%;
    top: 40%;
    word-wrap: break-word;
    flex-direction: column;
}

#answerBox, #submitBtn {
    position: relative;
    left: 45%;
    top: 40%;
}
